# Dependencies
node_modules/

# Build output
dist/

package-lock.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Test
coverage/

# Cache
.cache/
*.tsbuildinfo


dist-chrome.zip
dist-chrome
dist-firefox
aetron-wallet-*.zip